.StarProduct{
    display: flex;
    justify-content: center;
    align-items: center;
}
.StarProduct>div:last-child{
    display: flex;
    flex-wrap: wrap;
    width: 44%;
}
.StarProduct img{
    transition: all 0.3s;
}
.StarProduct img:hover{
    box-shadow: 6px 6px  15px rgba(53, 53, 53, .363);
}